#
# Project gitignore
#
/models

# images
images/
imgs/

# jupyter
.ipynb_checkpoints/

/zuz/

# dataset
/data-science-bowl-2018

#IDEA
.idea

# Environments
.env
.venv
/env
/venv

# System
.DS_store
._.DS_store

/.ssh
