#
# Project gitignore
#

# python
__pycache__/

# models
weights/
/models
*.pt
*.pth

# images
images/
*.png

# jupyter
.ipynb_checkpoints/

# dataset
/data-science-bowl-2018

#IDEA
.idea

# Environments
.env
.venv
/env
/venv

# System
.DS_store
._.DS_store

/.ssh
/zuz/
